.header {
  &__top {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    z-index: 20;
  }

  &__divider {
    width: 100%;
    height: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__menu {
    padding: 14px 0;
  }
}

