.post-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease;

    &:hover {
        .post-card__title,
        .post-card__link {
            color: rgba(var(--cl-e),1.0);
        }

        .post-card__thumbnail  {
            picture, img {
                transform: scale(1.05);
            }
        }
    }

    &__thumbnail {
        position: relative;
        width: 100%;
        display: flex;
        overflow: hidden;
        border-radius: 15px;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(var(--bg-b), 0.28);
            border-radius: 15px;
            z-index: 2;
        }

        picture,
        img {
            width: 100%;
            border-radius: 15px;
            transition: 0.5s ease;
            transition-duration: 0.5s;
        }
    }

    &__tags {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__tag {
        padding: 10px 12px;
        background-color: rgba(var(--bg-a), 0.8);
        border-radius: 15px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-align: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-family: var(--font-second);
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: rgba(var(--cl-b), 0.8);
        transition: 0.2s;
    }

    &__excerpt {
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
        letter-spacing: -0.02em;
    }

    &__link {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: var(--font-second);
        font-size: 15px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: -0.02em;
        text-transform: lowercase;
        color: rgba(0, 0, 0, 0.8);
        transition: 0.2s;
    }
}