.catalog-section {
    margin-bottom: 65px;
    flex-grow: 1;

    &__title {
        margin-bottom: 35px;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__categories {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 6px;
    }

    &__category-btn {
        width: 100%;
        padding: 18px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(var(--bg-c),1.0);
        border-radius: 16px;
        border: 2px solid rgba(var(--br-d),1.0);
        font-size: 18px;
        line-height: 100%;
        font-weight: 600;
        color: rgba(var(--cl-a),1.0);
        text-transform: capitalize;
        transition: all 0.3 ease;

        &.active {
            background-color: rgba(var(--bg-a),1.0);
            color: rgba(var(--cl-b),1.0);
        }
    }

    &__box {
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: 30px;
    }

    &__monuments {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 20px;
    }

    &__granites {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 20px;
    }
}