.contacts-section {
    margin-bottom: clamp(40px, 9.277vw, 95px);

    &__title {
        margin-bottom: 35px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__address {
        @include for-small-tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: stretch;
            gap: 25px;

            &:nth-child(even) {
                iframe {
                    order: -1;
                }
    
                & > div {
                    align-items: flex-end;
                    text-align: right;
                }
            }
        }

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &-map {
            display: flex;
            width: 100%;
            min-height: 325px;
            border-radius: 15px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }

        &-heading {
            font-size: 16px;
            line-height: 100%;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-descr {
            font-size: 13px;
            line-height: 100%;
            font-weight: 400;
            text-transform: uppercase;
        }

        &-phones {
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            a {
                font-size: 16px;
                line-height: 100%;
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s ease;

                &:hover {
                    color: rgba(var(--cl-e),1.0);
                }
            }
        }

        &-email {
            font-size: 16px;
            line-height: 100%;
            font-weight: 600;
            text-transform: lowercase;
            transition: 0.3s ease;

            &:hover {
                color: rgba(var(--cl-e),1.0);
            }
        }
    }
}