.works-section {
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__slider {
        position: relative;
        overflow: hidden;
    }

    &__image {
        display: flex;
        height: 623px;
    }

    .swiper-wrapper {
        transform: translateX(-5%); /* Сдвигаем весь ряд слайдов левее */
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    

}