.email {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    text-transform: lowercase;

    @include for-mobile {
        svg {
            display: none
        }
    }

    @include mobile {
        svg {
            display: flex;
        }
    }
}