.feedback {
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-0.425em) !important;
    }

    &__image {
        display: flex;
        width: 100%;
        height: clamp(300px, 45.898vw, 470px);

        picture,
        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }

    &__text {
        font-family: var(--font-family-primary);
        font-size: clamp(16px, 2.148vw, 22px);
        line-height: 130%;
        color: rgba(var(--cl-b),1.0);
    }
}