.main-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;

  &__title {
    font-family:  var(--font-family-second);
    font-size: clamp(28px, 4.688vw, 48px);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    width: fit-content;
    text-align: center;
  }
}