.pagination {
    display: flex;
    align-items: center;
    align-self: center;
    grid-gap: clamp(15px, 2.93vw, 30px);
  
    ul {
      display: flex;
      align-items: center;
  
      li {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        button {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--font-family);
          border-radius: 100%;

          font-size: 16px;
          line-height: 150%;
          font-weight: 600;
          letter-spacing: -0.02em;
          text-transform: capitalize;
          color: rgba(var(--cl-b),1.0);
          transition: all .3s;
  
          &:hover{
            color: rgba(var(--cl-c),1.0);
            
            &:after{
              opacity: 1;
              visibility: visible;
            }
          }
  
          &.active{
            background-color: rgba(var(--bg-e),1.0);
            color: rgba(var(--cl-a),1.0);
            pointer-events: none;

            &:before{
              opacity: 1;
              visibility: visible;
            }
          }
  
          &:disabled{
            opacity: .4;

            filter: grayscale(10);
            pointer-events: none;
          }
        }
      }
    }
  
  
    &__btn {
      aspect-ratio: 1;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img, svg {
        display: flex;
        aspect-ratio: 1;
        transition: all .2s;
      }
  
      &:hover {
        img, svg {
          transform: scale(1.2);
        }
      }
  
      &:disabled{
        opacity: .4;
        filter: grayscale(10);
        pointer-events: none;
      }
    }
  }