.socials {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    li {
        display: flex;
    }

    a {
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}